body {
    font-family: Arial, sans-serif;
    background-image: url(images/imagen.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.small-button {
    padding: 5px 10px; /* Botón más pequeño */
    margin-top: 20px; /* Margen arriba */
}

input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.constancia {
    width: 100%; /* Ancho completo */
    border: none; /* Sin borde */
    padding: 20px; /* Espaciado interno */
    margin: auto; /* Centrar */
    text-align: left; /* Alinear texto a la izquierda */
    background-color: white; /* Fondo blanco */
    font-family: 'Times New Roman', Times, serif; /* Fuente de la constancia */
    margin-top: 20px; /* Margen superior para separación */
}

h2 {
    margin-top: 0; /* Quitar margen superior */
    margin-bottom: 20px; /* Espaciado inferior */
}

p {
    margin: 20px 0; /* Espaciado para los párrafos */
}